<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary API</title>
</head>
<body>
<h1>Dictionary API</h1>
<p>URL format: http://127.0.0.1:5001/api/v1/word</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/sun</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/abandoned industrial site</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/abandoned vehicle</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/abiotic factor</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/access road</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/access to the sea</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/accident</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/accumulator</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/acidification</p>
<p>URL Example: http://127.0.0.1:5001/api/v1/acidity</p>
</body>
</html>